<%- include('../partials/header.ejs') %>
  <a href="#"><img src="./images/icon-white.svg" style="width:180px; height:180px; margin-top:-102px; margin-left: -25px; margin-bottom: -50px;"></a>
  <% if(message) { %>
    <script>
      $(document).ready(function () {
        $('#message').modal('show');
      });
    </script>
    <% } %>

      <h3 class='display-4 mb-4 mt-5' style="text-align: center;">Minhas Solicitações</h3>
      <div class="form-row justify-content-center">
        <div class="form-group col-md-3">
          <div class="card" style="width: 96%; border: 1px solid #66666646; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.349); padding: 40px 15px 10px 20px;">
            <img class="card-img-top" src="./images/pendent-folder-cuate.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">PENDENTES</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>  -->
              <a href="/dashboard/pending" class="btn btn-warning">Visualizar <span class="badge badge-light">
                  <%= pending %>
                </span></a>
            </div>
          </div>
        </div>

        <div class="form-group col-md-3">
          <div class="card" style="width: 96%; border: 1px solid #66666646; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.349); padding: 40px 15px 10px 20px;">
            <img class="card-img-top" src="./images/danied-cuate.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">REPROVADOS</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>  -->
              <a href="/dashboard/reproved" class="btn btn-danger">Visualizar <span class="badge badge-light">
                  <%= reproved %>
                </span></a>
            </div>
          </div>
        </div>

        <div class="form-group col-md-3">
          <div class="card" style="width: 96%; border: 1px solid #66666646; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.349); padding: 40px 15px 10px 20px;">
            <img class="card-img-top" src="./images/aproved-rafiki.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">APROVADOS</h5>
              <a href="/dashboard/aproved" class="btn btn-success">Visualizar <span class="badge badge-light">
                  <%= aproved %>
                </span></a>
            </div>
          </div>
        </div>
      </div>

      <hr width="75%">
      <h3 class="display-4" style="text-align: center; margin-top: 20px;">Últimas Solicitações</h3>
      <table id="myTable" class="table table-responsive-sm justify-content-center">
        <thead>
          <tr style="background-color: #9e9e9e">
            <th scope="col">#</th>
            <th scope="col">Tipo</th>
            <th scope="col">Solicitação</th>
            <th scope="col">Data</th>
            <th scope="col">Status</th>
            <th scope="col">Detalhes</th>
          </tr>
        </thead>
        <tbody>

          <% if(payments !=undefined){ payments.forEach(payment=> {
            // Format the date using JavaScript
            let formattedDate = new Date(payment.createdAt).toLocaleDateString('pt-BR', {
            day: '2-digit',
            month: '2-digit',
            year: 'numeric'
            }); %>

            <tr style="background-color: #dcdcdc26">
              <th scope="row">
                <%= payment.id %>
              </th>
              <td>Pagamento</td>
              <td>
                <%= payment.description.substring(0, 30) %>
              </td>
              <td>
                <%= formattedDate %>
              </td>
              <td>
                <%= payment.status %>
              </td>
              <td><a href="/payments/<%= payment.id %>">Detalhes</a></td>
            </tr>

            <% }); } %>

              <% if(purchases !=undefined){ purchases.forEach(purchase=> {
                // Format the date using JavaScript
                let formattedDate = new Date(purchase.createdAt).toLocaleDateString('pt-BR', {
                day: '2-digit',
                month: '2-digit',
                year: 'numeric'
                }); %>

                <tr style="background-color: #dcdcdc81">
                  <th scope="row">
                    <%= purchase.id %>
                  </th>
                  <td>Compra</td>
                  <td>
                    <%= purchase.justification.substring(0, 30) %>
                  </td>
                  <td>
                    <%= formattedDate %>
                  </td>
                  <td>
                    <%= purchase.status %>
                  </td>
                  <td>
                    <a href="/purchases/<%= purchase.id %>">Detalhes</a>
                  </td>
                </tr>

                <% }); } %>

        </tbody>
      </table> 
      </div>
      </div>

      <script>
    var table = new DataTable('#myTable', {
        language: {
          url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/pt-BR.json',
        },
      
        order: [[0, 'desc']] // Sort the first column (index 0) in descending order
      });

  </script>

      <!-- Modal -->
      <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Aviso</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= message %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer.ejs') %>