<%- include('../partials/header.ejs') %>


<form action="/create/category" method="post">
    <label for="departament">Departamento</label>
    <select class="form-control" name="departament">
     <% departaments.forEach(departament => { %>
          <option value="<%= departament.profile %>"><%= departament.name %></option>
     <% }); %>
    
     <input type="text" name="describe"> 

     <button class="btn accept" type="submit">Enviar</button>

    </form>

    <table id="myTable" class="table table-responsive-sm justify-content-center" style="margin-left: auto !important; margin-right: auto !important;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Departamento</th>
                <th>Descrição</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>

                    <td><%= category.id %></td>
                    <td><%= category.departament %></td>
                    <td><%= category.description %></td>
                    <td> <a href="/delete/category/<%= category.id %>" class="btn btn-primary">Excluir</a></td>

            <% }); %>
        </tbody>
    </table>


    <script>
        var table = new DataTable('#myTable', {
          language: {
            url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/pt-BR.json',
          },

          order: [[0, 'desc']] // Sort the first column (index 0) in descending order
        });

      </script>


<%- include('../partials/footer.ejs') %>