<%- include('../partials/header.ejs') %>

<a href="/dashboard"><img src="../images/icon-white.svg" style="width:180px; height:180px; margin-top: -102px;margin-left: -25px;"></a>
<div class="sobreposicaoFormC" style="width:30%">
  <h2>Abertura de Chamados</h2>
</div>

<br>
<br>
<form id="call-form" action="/call/create/call" method="post" enctype="multipart/form-data" accept-charset="utf-8" style="border: 1px solid #66666646; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.349); margin-top:20px; padding: 40px 15px 10px 20px;">
  <% if(user.profile.description == "ti"){ %>
  <label for="client" style="margin-top: 1%">Cliente</label>
  <input type="text" class="form-control" name="client" id="client" style="min-height:40px !important;width:40% !important"></input>
  <ul id="suggestions"></ul> 
  <input type="hidden" id="clientId" name="clientId" value="">
  <%  } %>
  <label for="departament">Departamento</label>
  <select class="form-control" id="departament" name="departament" style="width:30%; margin-bottom:1%">
    <option value="" disabled="disabled" selected="selected" required>Selecione o departamento</option>
    <% departaments.forEach(departament => { %>
    <option value="<%= departament.profile %>"><%= departament.name %></option>
    <%  }); %>
  </select>
  <div id="selectProfile">

  </div>

  <div id="ti_categories" hidden>
    <%= JSON.stringify(ti_categories) %>
  </div>

  <div id="financial_categories" hidden>
    <%= JSON.stringify(financial_categories) %>
  </div>

  <div id="marketing_categories" hidden>
    <%= JSON.stringify(marketing_categories) %>
  </div>

  <div id="purchases_categories" hidden>
    <%= JSON.stringify(purchases_categories) %>
  </div>

  <div id="rh_categories" hidden>
    <%= JSON.stringify(rh_categories) %>
  </div>

  <div id="sac_categories" hidden>
    <%= JSON.stringify(sac_categories) %>
  </div>

  <label for="category" style="margin-top: 1%">Prioridade</label>
  <select class="form-control" id="priority" name="priority" style="width:8%">
    <option value="Alta">Alta</option>
    <option value="Média">Média</option>
    <option value="Baixa">Baixa</option>
  </select>
  <label for="subject" style="margin-top: 1%">Assunto</label>
  <textarea class="form-control" name="subject" required style="min-height:40px !important;width:40% !important"></textarea>
  <label for="message" style="margin-top: 1%">Mensagem</label>
  <textarea class="form-control" name="message" required style="min-height:150px !important"></textarea>
  <input type="file" name="files" size="50" accept="image/jpeg,image/png,image/jpg,application/pdf" multiple style="margin-top: 1.5%;" />
  <hr style="width: 90%;">
  <div style="display: block;">
    <input type="checkbox" id="subscribe" name="subscribe" style="margin-top: 1%;" checked>
    <label for="subscribe">Deseja receber notificações por e-mail?</label>
  </div>
  <hr style="width: 90%;">
  <button type="submit" class="btn accept" id="submit-button">Enviar</button>
</form>


<script>

$("#call-form").submit(function() {
    $(document).ready(function() {
      $('#loadingModal').modal('show');
    })
  });


  $("#departament").on("change", function() {
    var valor = $(this).val(); // aqui vc pega cada valor selecionado com o this
    if (valor == "ti") {

      document.getElementById("selectProfile").innerHTML = "";
      document.getElementById("selectProfile").innerHTML = "" +
        "<label for='category'>Categoria</label>" +
        "<select class='form-control' id='category' name='category' style='width:30%; margin-bottom:1%'>";

      // Get the ti_categories data
      const tiCategoriesData = JSON.parse(document.getElementById("ti_categories").innerHTML);

      // Iterate through ti_categories and create options
      tiCategoriesData.forEach(category => {
        // Append the option to the select element
        document.getElementById("category").innerHTML +=
          `<option value="${category.description}">${category.description}</option>`;
      });

      document.getElementById("selectProfile").innerHTML += "</select>";

    } else if (valor == "financial") {

      document.getElementById("selectProfile").innerHTML = "";
      document.getElementById("selectProfile").innerHTML = "" +
        "<label for='category'>Categoria</label>" +
        "<select class='form-control' id='category' name='category' style='width:30%; margin-bottom:1%'>";

      // Get the ti_categories data
      const financialCategoriesData = JSON.parse(document.getElementById("financial_categories").innerHTML);

      // Iterate through ti_categories and create options
      financialCategoriesData.forEach(category => {
        // Append the option to the select element
        document.getElementById("category").innerHTML +=
          `<option value="${category.description}">${category.description}</option>`;
      });

      document.getElementById("selectProfile").innerHTML += "</select>";

    } else if (valor == "purchases") {

      document.getElementById("selectProfile").innerHTML = "";
      document.getElementById("selectProfile").innerHTML = "" +
        "<label for='category'>Categoria</label>" +
        "<select class='form-control' id='category' name='category' style='width:30%; margin-bottom:1%'>";

      // Get the ti_categories data
      const purchasesCategoriesData = JSON.parse(document.getElementById("purchases_categories").innerHTML);

      // Iterate through ti_categories and create options
      purchasesCategoriesData.forEach(category => {
        // Append the option to the select element
        document.getElementById("category").innerHTML +=
          `<option value="${category.description}">${category.description}</option>`;
      });

      document.getElementById("selectProfile").innerHTML += "</select>";

    } else if (valor == "marketing") {

      document.getElementById("selectProfile").innerHTML = "";
      document.getElementById("selectProfile").innerHTML = "" +
        "<label for='category'>Categoria</label>" +
        "<select class='form-control' id='category' name='category' style='width:30%; margin-bottom:1%'>";

      // Get the ti_categories data
      const marketingCategoriesData = JSON.parse(document.getElementById("marketing_categories").innerHTML);

      // Iterate through ti_categories and create options
      marketingCategoriesData.forEach(category => {
        // Append the option to the select element
        document.getElementById("category").innerHTML +=
          `<option value="${category.description}">${category.description}</option>`;
      });

      document.getElementById("selectProfile").innerHTML += "</select>";

    } else if (valor == "rh") {

      document.getElementById("selectProfile").innerHTML = "";
      document.getElementById("selectProfile").innerHTML = "" +
        "<label for='category'>Categoria</label>" +
        "<select class='form-control' id='category' name='category' style='width:30%; margin-bottom:1%'>";

      // Get the ti_categories data
      const rhCategoriesData = JSON.parse(document.getElementById("rh_categories").innerHTML);

      // Iterate through ti_categories and create options
      rhCategoriesData.forEach(category => {
        // Append the option to the select element
        document.getElementById("category").innerHTML +=
          `<option value="${category.description}">${category.description}</option>`;
      });

      document.getElementById("selectProfile").innerHTML += "</select>";

    } else if (valor == "sac") {

      document.getElementById("selectProfile").innerHTML = "";
      document.getElementById("selectProfile").innerHTML = "" +
        "<label for='category'>Categoria</label>" +
        "<select class='form-control' id='category' name='category' style='width:30%; margin-bottom:1%'>";

      // Get the ti_categories data
      const sacCategoriesData = JSON.parse(document.getElementById("sac_categories").innerHTML);

      // Iterate through ti_categories and create options
      sacCategoriesData.forEach(category => {
        // Append the option to the select element
        document.getElementById("category").innerHTML +=
          `<option value="${category.description}">${category.description}</option>`;
      });

      document.getElementById("selectProfile").innerHTML += "</select>";

    } else {

      document.getElementById("selectProfile").innerHTML = "";

    }

  });
</script>

<!-- Modal -->
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Aviso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Aguarde...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {
    $("#client").on("input", function() {
      const query = $(this).val();

      if (query.length > 2) {
        fetch(`/employees/search?q=${query}`)
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            $("#suggestions").empty();
            if (data.length > 0) {
              data.forEach(employee => {
                // Include employee ID in the suggestion list item
                $("#suggestions").append(`<li data-employee-id="${employee.id}">${employee.name}</li>`);
              });
            } else {
              $("#suggestions").append("<li>No matching employees found</li>");
            }
          })
          .catch(error => {
            console.error("Error fetching employee suggestions:", error);
          });
      } else {
        $("#suggestions").empty();
      }
    });

    // Add a hidden input field for the client ID
    $("#call-form").append('<input type="hidden" id="clientId" name="clientId" value="">');

    $(document).on("click", "#suggestions li", function() {
      $("#client").val($(this).text()); 
      $("#suggestions").empty();       
      
      // Get the employee ID from the clicked suggestion
      const clientId = $(this).data('employee-id');
      
      // Set the hidden input field value to the client ID
      $("#clientId").val(clientId);
    });
  });
</script>





<%- include('../partials/footer.ejs') %>