<%- include('../partials/header_show_call.ejs') %>
<% let formattedDate=new Date(call.createdAt).toLocaleDateString('pt-BR', { day: '2-digit' , month: '2-digit' , year: 'numeric' }); %>
<div class="space">
  <div class=" cabecalho">
    <a href="/dashboard"><img src="../../images/fav-icon2-150x150.png" alt=""></a>
    <h1>Detalhes do chamado</h1>
    <h6>Solicitante: <label name="nome">
        <%= employee.name %>
      </label></h6>
    <h6>Id do chamado: <label>#<%= call.id %>
      </label></h6>
      <h6>Status: <label><%= call.status %>
      </label></h6>
      <h6>Assunto: <label><%= call.subject %>
      </label></h6>
    <p>Data: <label name="data">
        <%= formattedDate %>
        <% if(unit.description=='Sede Ramiro' ){%>
      </label> | <label name="setor">Setor: <%= sector.description %> | Cidade: Cachoeira do Sul</label>
      <% } else if(unit.description=='Medicina do Trabalho' ){%>
      | <label name="setor">Unidade: <%= unit.description %> | Cidade: Cachoeira do Sul</label>
      <% } else if(unit.description=='Clínica' ){%>
      | <label name="setor">Unidade: <%= unit.description %> | Cidade: Cachoeira do Sul</label>
      <% }else{%>
      | <label name="setor">Unidade: <%= unit.description %> </label>
      <% } %>
    </p>
    <% if(attendant != undefined) {%>
    <p>Atendente: <label name="atendente">
        <%= attendant.employee.name %>
      </label></p>
    <% } %>
  </div>
  <hr>
  <br>
  <div class="conteudo">
    <table id="tabelaPagamento">
      <tbody>
        <tr>
          <td class="destaque"><strong>Assunto:</strong></span></td>
          <td colspan="3"><span name="assunto"><%= call.subject %></span></td>
        </tr>
        <tr>
          <td class="destaque"><strong>Mensagem:</strong></span></td>
          <td colspan="3"><span name="mensagem"><%= messageFirst.message %></span></td>
        </tr>
      </tbody>
    </table>
    <table id="tabelaCompras">
      <thead>
        <tr>
          <th>Usuário</th>
          <th>Anexo</th>
          <th>Data</th>
          <th>Abrir</th>
        </tr>
      </thead>
      <tbody>
        <% files.forEach(file=> { %>
        <tr>
          <% if(file.user_id == sender.user.id){%>
          <td>
            <%= sender.employee.name %>
          </td>
          <% }else{%>
          <td>
            <%= attendant.employee.name %>
          </td>
          <% } %>
          <td>
            <%= file.fileName %>
          </td>
          <% let formattedDate = new Date(file.createdAt).toLocaleDateString('pt-BR', { day: '2-digit' , month: '2-digit' , year: 'numeric' }); %>
          <td>
            <%= formattedDate %>
          </td>
          <td><a href="/payment/download/<%= file.fileName %>" target="_blank" class="btn btn-success">Abrir</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <% if((call.user_id == user.user.id) || (call.attendant_id == 0 && call.user_id != user.user.id)
  || (call.attendant_id != 0 && call.attendant_id == user.user.id) || 
(call.attendant_id != user.user.id && call.user_id != user.user.id)){
    if(call.status != 'FINALIZADO'){%>
    <hr style="width: 95%;">
    <button class="btn accept" onclick="answercall()" style="display:flex; margin-left: auto; margin-right: auto;">Responder</button>
    <% }} %>
    <% if(messageAll.length > 1){%>

    <% 
      let count = 0;
      messageAll.forEach(message => {  %>
    <%if(count > 0){%>

    <%if(message.sender_id != null){%>
    <% let formattedDate = new Date(message.createdAt).toLocaleDateString('pt-BR', { day: '2-digit' , month: '2-digit' , year: 'numeric' }); %>
    <div class="chat-message rp1">
      <div class="jumbotron" style="width: 80%; margin-left: auto; margin-right: auto; margin-top: 1%; padding: 2%;">
        <h3>Resposta ID #<%=message.id%></h3>
        <p class="lead" style="font-weight: 400;"><%= message.message %></p>
        <hr class="my-4">
        <p>Solicitante: <%= sender.employee.name %> </p>
        <p>Data: <%= formattedDate %></p>
      </div>
    </div>

    <%} if(message.attendant_id != null){%>
    <% let formattedDate = new Date(message.createdAt).toLocaleDateString('pt-BR', { day: '2-digit' , month: '2-digit' , year: 'numeric' }); %>
    <div class="chat-message rp2">
      <div class="jumbotron" style="width: 80%; margin-left: auto; margin-right: auto; margin-top: 1%; padding: 2%;">
        <h3>Resposta ID #<%=message.id%></h3>
        <p class="lead" style="font-weight: 400;"><%= message.message %></p>
        <hr class="my-4">
        <p>Atendente: <%= attendant.employee.name %></p>
        <p>Data: <%= formattedDate %></p>
      </div>
    </div>

    <%}%>


<% } count++; });} %>
    <!--modal -->
    <div class="modal fade" id="answercall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Responder Chamado</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/call/reply" method="post" enctype="multipart/form-data" accept-charset="utf-8">
              <%if(call.attendant_id != 0 && call.attendant_id != user.user.id && call.user_id != user.user.id){ %>
                <select name="newAttendant" class="form-control">
                  <option value="" disabled="disabled" selected="selected">Alterar o atendente</option>
                <% employeeNames.forEach(employeeName => {%>
                <option value="<%= employeeName.id %>"><%= employeeName.name %></option>
              <% });} %>  
            </select>
            <%if(call.attendant_id == user.user.id){%>
              <label for="checkbox">Finalizar chamado</label>
              <input type="checkbox" id="finishcall" name="finishcall" style="margin-top: 1%;"><br>
              <%}%>
              <%if(call.attendant_id == user.user.id || call.user_id == user.user.id || call.attendant_id == 0){%>
              <label for="message" style="margin-top: 1%; font-weight: bold;">Resposta:</label>
              <textarea class="form-control" name="message"  style="min-height:110px !important" required placeholder="Digite sua resposta"></textarea>
              <hr style="width: 90%;">
              <label for="files" style="margin-top: 1%; display: block; font-weight: bold;">Anexo:</label>
              <input type="file" name="files" size="50" accept="image/jpeg,image/png,image/jpg,application/pdf" multiple />
              <hr style="width: 90%;">
              <%}%>
              <input type="text" name="id" value="<%= call.id %>" hidden>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn accept">Enviar</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      function answercall() {
        $('#answercall').modal('show');
      };
    </script>

    <%- include('../partials/footer.ejs') %>