<%- include('../partials/header.ejs') %>

<% let formattedDate=new Date(purchase.createdAt).toLocaleDateString('pt-BR', { day: '2-digit' , month: '2-digit' , year: 'numeric' }); %>

<% if(modal=='leaders' ) { %>
<script>
  $(document).ready(function() {
    $('#reproveLeaderModal').modal('show');
  });
</script>
<% }else if(modal=='directors' ){%>

<script>
  $(document).ready(function() {
    $('#reproveDirectorModal').modal('show');
  });
</script>

<% } %>

<div class="space"">
<div class=" cabecalho">
  <a href="/dashboard"><img src="../../images/fav-icon2-150x150.png" alt=""></a>
  <h1>Relatório de Compras</h1>
  <h6>Nome: <label name="nome">
      <%= employee.name %>
    </label></h6>
  <p>Data: <label name="data">
      <%= formattedDate %>
      <% if(unit.description=='Sede Ramiro' ){%>
    </label> | <label name="setor">Setor: <%= sector.description %> | Cidade: Cachoeira do Sul</label>
    <% } else if(unit.description=='Medicina do Trabalho' ){%>
    | <label name="setor">Unidade: <%= unit.description %> | Cidade: Cachoeira do Sul</label>
    <% } else if(unit.description=='Clínica' ){%>
    | <label name="setor">Unidade: <%= unit.description %> | Cidade: Cachoeira do Sul</label>
    <% }else{%>
    | <label name="setor">Unidade: <%= unit.description %> </label>
    <% } %>
  </p>
</div>
<hr>
<br>
<div class="conteudo">
  <table id="tabelaCompras">
    <thead>
      <tr>
        <th>Quantidade</th>
        <th>Item</th>
        <th>Especificações</th>
        <th>Unidade</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <% item.forEach(item=> { %>
      <tr>
        <td>
          <%= item.amount %>
        </td>
        <td>
          <%= item.item %>
        </td>
        <td>
          <%= item.description %>
        </td>
        <td>
          <%= item.city %>
        </td>
        <td>
          <%= item.value %>
        </td>
      </tr>
      <% }); %>
      <tr>
        <td colspan="5" class="destaque"><strong>Status</strong></td>
      </tr>
      <tr>
        <td colspan="5">
          <%= purchase.status %>
        </td>
      </tr>
      <tr>
        <td colspan="5" class="destaque"><strong>Justificativa</strong></td>
      </tr>
      <tr>
        <td colspan="5">
          <%= purchase.justification %>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <table id="tabelaCompras">
    <thead>
      <tr>
        <th>ID</th>
        <th>Anexo</th>
        <th>Data</th>
        <th>Abrir</th>
      </tr>
    </thead>
    <tbody>
      <% files.forEach(file=> { %>
      <tr>
        <td>
          <%= file.id %>
        </td>
        <td>
          <%= file.fileName %>
        </td>
        <% let formattedDate=new Date(file.createdAt).toLocaleDateString('pt-BR', { day: '2-digit' , month: '2-digit' , year: 'numeric' }); %>
        <td>
          <%= formattedDate %>
        </td>
        <td><a href="/purchase/download/<%= file.fileName %>" target="_blank" class="btn btn-success">Abrir</a></td>
      </tr>
      <% }); %>
    </tbody>

  </table>

  <div class="valor-relatorio">
    <label>Valor Total:</label>
    <label name="total" id="valor-display">
      <%= purchase.total %>
    </label>
  </div>

  <hr>
  <table id="tabelaPagamento">

    <tbody>

      <% let gestor=false; let diretor=false; let compras=false; let financeiro=false; let reprove_gestor=false; let reprove_diretor=false; let reprove_compras=false; movements.forEach(movement=> {
                  move_users.forEach(move_user => {
                  if (movement.leader_id == move_user.id && movement.status == 'Em análise pelo compras' && gestor == false) {
                  let formattedDate=new Date(movement.createdAt).toLocaleDateString('pt-BR', { day: '2-digit' , month: '2-digit' , year: 'numeric' }); %>
      <tr>
        <td colspan="5">
          Gestor(a): <%= move_user.name %>
        </td>
        <td>
          <%= move_user.email %>
        </td>
        <td>
          APROVADO
        </td>
        <td>
          <%= formattedDate %>
        </td>
      </tr>
      <% gestor=true;}else if (movement.director_id==move_user.id && movement.status=='Pagamento em andamento' && diretor==false) { let formattedDate=new Date(movement.createdAt).toLocaleDateString('pt-BR', { day: '2-digit' , month: '2-digit' , year: 'numeric' }); %>
      <tr>
        <td colspan="5">
          Diretor(a): <%= move_user.name %>
        </td>
        <td>
          <%= move_user.email %>
        </td>
        <td>
          APROVADO
        </td>
        <td>
          <%= formattedDate %>
        </td>
      </tr>
      <% diretor=true; }else if (movement.purchase_id==move_user.id && movement.status=='Em análise pelo diretor' && compras==false) { let formattedDate=new Date(movement.createdAt).toLocaleDateString('pt-BR', { day: '2-digit' , month: '2-digit' , year: 'numeric' }); %>
      <tr>
        <td colspan="5">
          Compras: <%= move_user.name %>
        </td>
        <td>
          <%= move_user.email %>
        </td>
        <td>
          APROVADO
        </td>
        <td>
          <%= formattedDate %>
        </td>
      </tr>
      <% compras=true; }else if (movement.financial_id==move_user.id && movement.status=='APROVADO' && financeiro==false) { let formattedDate=new Date(movement.createdAt).toLocaleDateString('pt-BR', { day: '2-digit' , month: '2-digit' , year: 'numeric' }); %>
      <tr>
        <td colspan="5">
          Financeiro: <%= move_user.name %>
        </td>
        <td>
          <%= move_user.email %>
        </td>
        <td>
          PAG. REALIZADO
        </td>
        <td>
          <%= formattedDate %>
        </td>
      </tr>
      <% financeiro=true; }else if (movement.leader_id==move_user.id && movement.status=='REPROVADO' && reprove_gestor==false) { let formattedDate=new Date(movement.createdAt).toLocaleDateString('pt-BR', { day: '2-digit' , month: '2-digit' , year: 'numeric' });%>
      <tr>
        <td colspan="5">
        Gestor(a):  <%= move_user.name %>
        </td>
        <td>
          <%= move_user.email %>
        </td>
        <td>
          REPROVADO
        </td>
        <td>
          <%= formattedDate %>
        </td>
      </tr>
      <% reprove_gestor=true;}else if (movement.director_id==move_user.id && movement.status=='REPROVADO' && reprove_diretor==false) { let formattedDate=new Date(movement.createdAt).toLocaleDateString('pt-BR', { day: '2-digit' , month: '2-digit' , year: 'numeric' }); %>
      <tr>
        <td colspan="5">
          Diretor(a): <%= move_user.name %>
        </td>
        <td>
          <%= move_user.email %>
        </td>
        <td>
          REPROVADO
        </td>
        <td>
          <%= formattedDate %>
        </td>
      </tr>
      <% reprove_diretor=true; }else if (movement.purchase_id==move_user.id && movement.status=='REPROVADO' && reprove_compras==false) { let formattedDate=new Date(movement.createdAt).toLocaleDateString('pt-BR', { day: '2-digit' , month: '2-digit' , year: 'numeric' }); %>
      <tr>
        <td colspan="5">
          Compras: <%= move_user.name %>
        </td>
        <td>
          <%= move_user.email %>
        </td>
        <td>
          REPROVADO
        </td>
        <td>
          <%= formattedDate %>
        </td>
      </tr>
      <% reprove_compras=true;} }); }); %>

    </tbody>

  </table>

  <% if(user.profile.description=="leaders" && purchase.leader_id==null && purchase.director_id==null && purchase.purchase_id==null && purchase.financial_id==null ){%>
  <div class="botoes">
    <a href="/purchase/accept/leaders/<%= purchase.id %>" class="btn accept">Aceitar</a>
    <a href="/purchase/reprove/leaders/<%= purchase.id %>" class="btn btn-danger" style="color:white;">Recusar</a>
  </div>
  <% }else if(user.profile.description=="purchases" && purchase.director_id==null && purchase.leader_id !=null && purchase.purchase_id==null && purchase.financial_id==null ) { %>

  <script>
    window.location.href = '/revision_orcament/<%= purchase.id %>'
  </script>

  <% }else if(user.profile.description=="directors" && purchase.director_id==null && purchase.leader_id !=null && purchase.purchase_id !=null && purchase.financial_id==null ) { %>

  <div class="botoes">
    <a href="/purchase/accept/directors/<%= purchase.id %>" class="btn accept">Aceitar</a>
    <a href="/purchase/reprove/directors/<%= purchase.id %>" class="btn btn-danger" style="color:white;">Recusar</a>
  </div>

  <% }else if(user.profile.description=="financial" && purchase.director_id !=null && purchase.leader_id !=null && purchase.purchase_id !=null && purchase.financial_id==null ) { %>
  <div id='anexoFinanceiroC'>
    <form action="/purchase/accept/financial" method="post" enctype="multipart/form-data">
      <input type="text" name="purchase_id" value="<%= purchase.id %>" hidden>
      <hr width="90%">
      <input type="file" name="files" size="50" accept="image/jpeg,image/png,image/jpg,application/pdf" multiple required />
      <hr width="90%"">
                        <button type=" submit" class="btn accept">Enviar</button>
    </form>
  </div>
  <% }else if(user.profile.description=="financial" && purchase.director_id !=null && purchase.leader_id==null && purchase.purchase_id==null && purchase.financial_id==null ) { %>
  <div id='anexoFinanceiroC'>
    <form action="/purchase/accept/financial" method="post" enctype="multipart/form-data">
      <input type="text" name="purchase_id" value="<%= purchase.id %>" hidden>
      <hr width="90%">
      <input type="file" name="files" size="50" accept="image/jpeg,image/png,image/jpg,application/pdf" multiple required />
      <hr width="90%"">
                        <button type=" submit" class="btn accept">Enviar</button>
    </form>
  </div>
  <% } %>

</div>
</div>


<div class="modal fade" id="reproveLeaderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recusar solicitação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/purchase/reprove/leaders" method="post">

          <input type="text" name="id" class="form-control" value="<%= purchase.id %>" hidden>
          <label for="message-text" class="col-form-label">Motivo:</label>
          <textarea name="motivo" class="form-control" id="message-text"></textarea>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Recusar</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="reproveDirectorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recusar solicitação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/purchase/reprove/directors" method="post">

          <input type="text" name="id" class="form-control" value="<%= purchase.id %>" hidden>
          <label for="message-text" class="col-form-label">Motivo:</label>
          <textarea name="motivo" class="form-control" id="message-text"></textarea>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Recusar</button>
      </div>
      </form>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(":button").submit(function() {
    $(document).ready(function() {
      $('#loadingModal').modal('show');
    })
  });
</script>


<!-- Modal -->
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Aviso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Aguarde...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<%- include('../partials/footer.ejs') %>